rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profile/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.uid == userId || 
        (request.auth.token.email == "vinod1rai249@gmail.com" && request.auth.token.email_verified == true));
    }
    match /certifications/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && (request.auth.uid == userId || 
        (request.auth.token.email == "vinod1rai249@gmail.com" && request.auth.token.email_verified == true));
    }
  }
}
